.main {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  /* padding: 20vh 2vw 0 2vw; */
}

.imgHeader {
  background-image: url("../public/cover-illustration.jpg");
  background-size: 100%;
  background-position-y: 90%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
