.container {
    background-color: aquamarine;
    border-radius: 10px;
    height: 20vh;
    width: 100%;
    padding: 1.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: #F1F2F6;
    border-radius: 10px;
    margin: 0 1%;
    padding: 1%;
    height: 55%;
    width: 30%;
  }